:root {
    --cor-fundo-pagina: #b80000;
    --cor-fundo-cartao: #0c44bd;
    --cor-texto-principal: #e5e7eb;
    --cor-texto-suave: #9ca3af;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial;
    color: var(--cor-texto-principal);
    background-color: var(--cor-fundo-pagina);
}

.container-pagina {
    width: min(1100px, 90%);
    margin: 0 auto;
}

.cabecalho-principal {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #0e69e9 0%, #0cad3f 60%);
    text-align: center;
    padding: clamp(2rem, 5vw);
}

.cabecalho-principal__subtitulo {
    color: var(--cor-texto-suave);
}

input {
  border-radius: 50px;
  padding: 10px 20px;
  background: transparent;
  border: none;
}

button {
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgb(226, 118, 10);
    border: none;
}